.display-4 {
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  font-size: 73px;
  text-decoration: none;
}

.jumbotron {
  background-image: url(img/Flag_of_France.png);
  height: 350%;
  border: solid;
  border-width: thick;
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  margin-bottom: 0px;
}

h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Cormorant Garamond', serif;
}

h2 {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
}

h3 {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  text-decoration: underline;
  font-weight: bold;
}

p {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
}

a {
  color: white;
}

.col-md-5 {
  text-align: center;
  background-color: #464444;
  color: white;
  border: solid;
  padding: 25px;
}

.members {
  background: url(img/france.jpg);
  height: 1000px;
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  background-position: 50%;
}

.about {
  background: url(img/louvre.jpg);
  height: 1000px;
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  background-position: 50%;
}

.contact {
  background: url(img/triomphe.jpg);
  height: 1000px;
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  background-position: 50%;
}

.activities {
  background: url(img/pont.jpg);
  height: 1000px;
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  background-position: 50%;
}

.testimonials {
  background: url(img/sacre-coeur.jpg);
  height: 1000px;
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  background-position: 50%;
}

.testimonialsBoxes {
  background-color: rgba(20, 18, 11, 0.4);
  font-weight: bold;
  border: 0px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px
}
.testimonialsBoxes>p{
  text-align: center;
}
.testimonial>p{
  margin-top: 39px;
}
.activitiesBoxes {
  background-color: rgba(20, 18, 11, 0.6);
  border: 0px;
  font-weight: bold;
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
}

.membersBoxes {
  background-color: rgba(20, 18, 11, 0.2);
  border: 0px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  font-size: 20px;
}

.contactBoxes {
  background-color: rgba(20, 18, 11, 0.2);
  border: 0px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.aboutBoxes {
  background-color: rgba(20, 18, 11, 0.5);
  font-family: 'Cormorant Garamond', serif;
  border: 0px;
  font-size: 30px;
}

.d-block {
  height: 700px;
}

.bulletin {
  height: 300px;
}

.footer {
  background-color: #292828;
  height: 50px;
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  background-position: 50%;
  color: white;
  font-size: 18px;
}
