.display-4{
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  font-size: 80px;
  text-decoration: none;
}
.jumbotron{
  background-image: url(img/Flag_of_France.png);
  height: 350%;
  border: solid;
  border-width: thick;
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  margin-bottom: 0px;
}
h1{
  text-align: center;
  text-decoration: underline;
  font-size: 50px;
}
h2{
  text-align: center;

}
.col-md-5{
  text-align: center;
  background-color: #464444;
  color: white;
  border: solid;
  padding: 25px;
}
#members{
  background: url("img/eiffel.jpg");
  background-size: cover;
  margin-left: 0px;
  padding-left: 0px;
  margin-right: 700px;

 }
