.display-4 {
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  font-size: 73px;
  text-decoration: none;
}

.display-4 {
  text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

.jumbotron {
  background-image: url(img/Flag_of_France.png);
  height: 350%;
  border: solid;
  border-width: thick;
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  margin-bottom: 0px;
}

h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Cormorant Garamond', serif;
  margin-bottom: 30px;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

h2 {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  margin-bottom: 30px;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  font-size: 37px;
}

h3 {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  text-decoration: underline;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

p {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
}

a {
  color: white;
}

.col-md-5 {
  text-align: center;
  background-color: #464444;
  color: white;
  border: solid;
  padding: 25px;
}

.members {
  background: url(img/france.jpg);
  height: 1000px;
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  background-position: 50%;
}

.about {
  background: url(img/louvre.jpg);
  height: 1000px;
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  background-position: 50%;
}

.contact {
  background: url(img/triomphe.jpg);
  height: 1000px;
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  background-position: 50%;
}

.activities {
  background: url(img/pont.jpg);
  height: 1000px;
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  background-position: 50%;
}

.testimonials {
  background: url(img/sacre-coeur.jpg);
  height: 1000px;
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  background-position: 50%;
}

.t-shirt {
  width: 360px;
  height: 380px;
  color: white;
  margin-bottom: 0px;
  margin-left: 70px;
  border-style: solid;
  border-radius: 50px;
  border-width: 7px;
  border-color: black;
}

.homeBoxes {
  margin-top: 0px;
  margin-bottom: 50px;
  width: 360px;
  height: 380px;
  align-items: center;
  transition: all .2s ease-in-out;
}

.middle {
  margin-top: 20px;
  height: 100px;
  text-align: center;
}

.homeBoxes:hover {
  transform: scale(1.1);
}

h4 {
  text-align: center;
  font-size: 45px;
  font-family: 'Anton', sans-serif;
}

.testimonialsBoxes {
  background-color: rgba(20, 18, 11, 0.4);
  font-weight: bold;
  border: 0px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px
}

.testimonialsBoxes>p {
  text-align: center;
}

.testimonial>p {
  margin-top: 39px;
}

.activitiesBoxes {
  background-color: rgba(20, 18, 11, 0.6);
  border: 0px;
  font-weight: bold;
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
}

.membersBoxes {
  background-color: rgba(20, 18, 11, 0.2);
  border: 0px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  font-size: 27px;
  line-height: 2;
  margin-top: 55px;
}

.contactBoxes {
  background-color: rgba(20, 18, 11, 0.2);
  border: 0px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  line-height: 2.5;
}

.aboutBoxes {
  background-color: rgba(20, 18, 11, 0.5);
  font-family: 'Cormorant Garamond', serif;
  border: 0px;
  font-size: 30px;
}

.d-block {
  height: 700px;
}

.bulletin {
  height: 300px;
}

.puppet {
  height: 300px;
  width: 340px;
}

footer {
  background-color: #292828;
  height: 50px;
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  background-position: 50%;
  color: white;
  font-size: 18px;
}
.btn{
  background-color: white;
   text-decoration: none;
}
@media screen and (max-width: 1199px) {
  .bulletin {
    width: 300px;
    height: 280px;
  }

  .puppet {
    width: 300px;
    height: 280px;
  }

  .t-shirt {
    width: 340px;
    height: 360px;
  }

  .homeBoxes {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 360px;
  }

  h4 {
    text-align: center;
    font-stretch: expanded;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 991px) {
  .activitiesBoxes {
    font-size: 20px;
  }

  .bulletin {
    width: 250px;
    height: 220px;
  }

  .puppet {
    width: 250px;
    height: 220px;
  }

  .membersBoxes {
    font-size: 25px;
  }

  .aboutBoxes {
    font-size: 20px;
  }

  .t-shirt {
    width: 300px;
    height: 280px;
    margin-left: 0px;
  }

  .homeBoxes {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 300px;
  }

  h4 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
  }
}

@media screen and (max-width:775px) {
  .activitiesBoxes {
    font-size: 15px;
  }

  .bulletin {
    width: 180px;
    height: 150px;
  }

  .puppet {
    width: 180px;
    height: 150px;
  }

  .membersBoxes {
    font-size: 25px;
  }

  .aboutBoxes {
    font-size: 20px;
  }

  .t-shirt {
    width: 300px;
    height: 280px;
    margin-left: 0px;
  }

  .homeBoxes {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 300px;
  }

  h4 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
  }
}
